.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  .wrapper {
    white-space: nowrap;
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
